.fragmentSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4%;
  background-image: url("../../assets/img/TEDxVITBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#fragmentHeading {
  font-style: normal;
  font-weight: 800;
  font-size: 10rem;
  line-height: 141.69%;
  text-align: center;
  color: #ffffff;
}

.fragmentContainer {
  width: 80%;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 141.69%;
  /* or 40px */

  text-align: justify;
}

@media only screen and (max-width: 768px) {

  .fragmentSection{
    grid-template-columns: 1fr;
  }

  #fragmentHeading {
    font-size: 4rem !important;
  }

  .fragmentContainer {
    font-size: 1rem !important;
    width: 100%;

  }
}
