// .container {
//     background-image: url('/cc1.png');
// }

.container:hover {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    height: 100%;
    border-radius: 30px;
    text-align: center;
    background: rgba(6, 6, 6, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 25rem;
}

.container:hover .middle {
    opacity: 1 !important;
}

.middle2 {
    opacity: 1 !important;
}

// .outter:hover .outterTitle .outterTitle2{
//    display: none;
// }

.outter{
    text-align: center;
}

.outterTitle{
    position: absolute;
    margin-top: 18rem;
    margin-left: 1rem;
    // color: #000;
}

.outterTitle2{
    position: absolute;
    margin-top: 21rem;
    margin-left: 1rem;
    // color: #000;
}


.text {
    opacity: 1 !important;
    text-align: center;
}