// @import "../../../styles/variables";
.container6 {
  color: #fff;

  .imgBackground {
    height: auto;
    .imgUp {
      width: 100%;
      height: 100%;
    }
  }

  .heading {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 5%;
    h2 {
      margin-bottom: 10px;
      font-size: 55px;
      font-weight: bolder;
    }
  }

  .speakersClass {
    background-image: url("/Etp.png");
    background-size: 42%;
    background-repeat: no-repeat;
    background-position:bottom right;
    background-position-y: bottom !important;
    // padding-bottom: 40px;
    // background-position: right;
    //padding: 0 18px;
    h2 {
      padding-left: 5%;
      margin-top: 10px;
      margin-top: 40px;
      font-size: 50px;
      font-weight: bolder;
    }
    img {
      padding-left: 5%;
    }

    .edition6Wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      //padding: 0 18px;
      .edition6WrapperLeft {
        width: 100%;
        padding: 18px;
        .performers {
          h3 {
            padding-left: 5%;
            font-weight: bolder;
            color: #fff;
            padding-top: 30px;
            font-size: 40px;
          }
          p {
            width: 100%;
            padding-left: 5%;
            z-index: 20 !important;
            padding-right: 5%;
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: justify !important;
          }
        }
      }
    }

    .performersTitle {
      h2 {
        padding-left: 5%;
        margin-top: 10px;
        // font-family: $font-text;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: bolder;
      }
    }

    .performersFlex {
      display: flex;

      .performersFlexLeft,
      .performersFlexRight {
        width: 50%;
        padding-left: 5%;
        h3 {
          font-weight: bolder;
          color: #fff;
          padding-top: 20px;
          font-size: 40px;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          font-style: normal;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          z-index: 20;
        }
      }
    }
  }
  .titleee {
    padding: 2% 10%;
    text-align: center;
    background-color: #000;
    h2 {
      // font-family: $font-text;
      font-size: 55px;
      font-weight: bolder;
      color: #fff;
    }
  }

  .edition6Img {
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 1% 10%;
    height: 90vh;
    
    img {
      margin-bottom: 35px;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 20px;
    border: solid 2px #fff ;

    }
  }
}
@media (max-width: 488px) {
  .container6 {
    .heading {
      h2 {
        // font-family: $font-text;
        margin-bottom: 10px;
        font-size: 44px;
        font-weight: bolder;
      }
    }
    .speakersClass {
      h2 {
        font-size: 45px;
      }

      .performers {
        h3 {
          font-size: 35px;
        }
      }
      .performersTitle {
        h2 {
          padding-left: 5%;
          margin-top: 10px;
          // font-family: $font-text;
          margin-top: 40px;
          margin-bottom: 10px;
          font-size: 40px;
          font-weight: bolder;
        }
      }

      .performersFlex {
        display: flex;

        .performersFlexLeft,
        .performersFlexRight {
          width: 100%;
          padding-left: 5%;
          h3 {
            font-size: 35px;
          }
        }
      }
    }
    .titleee {
      margin-top: 40px;
      padding-left: 5%;
      h2 {
        font-size: 35px;
      }
    }

    img {
      width: 95%;
      height: auto;
    }
  }
}

@media (max-width: 718px) {
  .performersFlex {
    flex-direction: column;

    .performersFlexLeft,
    .performersFlexRight {
      width: 100%;
      h3 {
        width: 100%;
        font-weight: bolder;
        color: #fff;
        padding-top: 20px;
        font-size: 40px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}

@media (max-width: 938px) {
  .container6 {
    .speakersClass {
      background-image: url("/edition7base.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .edition6Img {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.information {
  padding: 1% 5%;
  //font-size: 1.4rem;
  line-height: 140%;
  font-size: 1.125em;
  letter-spacing: 0.025em;
  text-align: justify;
}
