// @import "../../../styles/variables";
.container6 {
  padding-top: 70px;
  color: #fff;

  .imgBackground {
    height: auto;
    // background-image: url("https://res.cloudinary.com/dfgz4hsg0/image/upload/v1651518993/Website%20Content/Endevaour/Edition6/Reemergence_cuqpwz.svg");
    .imgUp {
      width: 100%;
      height: 100%;
    }
  }

  .heading {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 5%;
    h2 {
      margin-bottom: 10px;
      font-size: 55px;
      font-weight: bolder;
    }
  }
  p {
    padding-left: 5%;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }

  .speakersClass {
    background-image: url("https://res.cloudinary.com/dfgz4hsg0/image/upload/v1651518993/Website%20Content/Endevaour/Edition6/Circle_bddwgk.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //opacity: 0.6;
    position: relative;
    //z-index: 1;
    h2 {
      padding-left: 5%;
      margin-top: 10px;

      margin-top: 40px;
      font-size: 50px;
      font-weight: bolder;
    }
    img {
      padding-left: 5%;
    }

    .edition6Wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      .edition6WrapperLeft {
        width: 100%;
        .performers {
          h3 {
            padding-left: 5%;
            font-weight: bolder;
            color: #fff;
            padding-top: 30px;
            font-size: 40px;
          }
          p {
            text-align: justify !important;

            width: 100%;
            z-index: 20 !important;
            padding-left: 5%;
            padding-right: 5%;
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
      }
    }

    .performersTitle {
      h2 {
        padding-left: 5%;
        margin-top: 10px;

        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: bolder;
      }
    }

    .performersFlex {
      display: flex;

      .performersFlexLeft,
      .performersFlexRight {
        width: 50%;
        padding-left: 5%;
        h3 {
          font-weight: bolder;
          color: #fff;
          padding-top: 20px;
          font-size: 40px;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          font-style: normal;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
  // .speakersClass::before {
  //   background-image: url("https://res.cloudinary.com/dfgz4hsg0/image/upload/v1651518993/Website%20Content/Endevaour/Edition6/Circle_bddwgk.png");
    b
  //   z-index: 0 !important;
  //   content: "";
  //   position: absolute;
  //   top: 0px;
  //   right: 0px;
  //   bottom: 0px;
  //   left: 0px;
  //   opacity: 0.6;
  // }

  .titleee {
    padding: 2% 10%;
    text-align: center;
    background-color: #000;
    h2 {
      // font-family: $font-text;
      font-size: 55px;
      font-weight: bolder;
      color: #fff;
    }
  }

  .edition6Img {
    display: flex;
    justify-content: center;

    img {
      margin-bottom: 35px;
      height: auto;
      border: 1px solid transparent;
      border-radius: 20px;
    }
  }
}
@media (max-width: 488px) {
  .container6 {
    .heading {
      h2 {
        margin-bottom: 10px;
        font-size: 44px;
        font-weight: bolder;
      }
    }
    .speakersClass {
      h2 {
        font-size: 45px;
      }

      .performers {
        h3 {
          font-size: 35px;
        }
      }
      .performersTitle {
        h2 {
          padding-left: 5%;
          margin-top: 10px;

          margin-top: 40px;
          margin-bottom: 10px;
          font-size: 40px;
          font-weight: bolder;
        }
      }

      .performersFlex {
        display: flex;

        .performersFlexLeft,
        .performersFlexRight {
          width: 100%;
          padding-left: 5%;
          h3 {
            font-size: 35px;
          }
        }
      }
    }
    .titleee {
      margin-top: 40px;
      padding-left: 5%;
      h2 {
        font-size: 50px;
      }
    }

    img {
      width: 95%;
      height: auto;
    }
  }
}

@media (max-width: 718px) {
  .performersFlex {
    flex-direction: column;

    .performersFlexLeft,
    .performersFlexRight {
      width: 100%;
      h3 {
        width: 100%;
        font-weight: bolder;
        color: #fff;
        padding-top: 20px;
        font-size: 40px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}

@media (max-width: 938px) {
  .container6 {
    .speakersClass {
      background-image: url("https://res.cloudinary.com/dfgz4hsg0/image/upload/v1651518993/Website%20Content/Endevaour/Edition6/Reemergence_cuqpwz.svg");
    }
    .edition6Img {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
