@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline {
    -webkit-text-stroke: 0.1rem rgba(255,255,255,0.5);
  }
}

@font-face {
  font-family: 'Aileron';
  src: url(/fonts/aileron/Aileron-Bold.otf);
  src: url(/fonts/aileron/Aileron-BoldItalic.otf);
  src: url(/fonts/aileron/Aileron-Italic.otf);
  src: url(/fonts/aileron/Aileron-SemiBold.otf);
  src: url(/fonts/aileron/Aileron-SemiBoldItalic.otf);
  src: url(/fonts/aileron/Aileron-Regular.otf);
}

@font-face {
  font-family: 'BasementGrotesque';
  src: url(/fonts/BasementGrotesque/BasementGrotesque-Black_v1.202.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Aileron', sans-serif;
}

.heading {
  font-family: 'BasementGrotesque', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  --cursor-stroke: #cc1111;
}

body {
  background: #000;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #313131;
  border-radius: 20px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}